<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <title>Title Home</title>
    <!-- <title><%= title %></title> -->
  </head>
  <body>
    <!-- <h1><%= h1 %></h1> -->
    <div id="app"></div>
    <button id="btn-alert">hola</button>
    <h1>HOLALALAALLA</h1>
    <p>s</p>
    <button id="btn-jquery">Click ssssfffjQuery</button>
    <h1>jsjsssssssssdddssssdddddj</h1>
    <p>s</p>
      <h1 class="display-1">Hello World</h1>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
      A simple secondary alert—hhcheck it out!
    </div>
    <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>
    <button id="btn-alert">Clhhick</button>
    <h1>sssd</h1>
    <p>s</p>
    <button id="btn-jquery">Click fffjQuery</button>
    <h1>jsjssssssssdddddj</h1>
    <p>s</p>

    <h1>kk</h1>
    <i class="fab fa-twitter-square"></i>

    <button onclick="revelarMessage()">Click me!</button>
    <p id="hiddenMessage" style="display:none">You are going on cruise</p>

    
   <!-- <script type="text/javascript" src="scripts/bundle.js"></script> -->
    <script type="text/javascript">
      function revelarMessage(){
        document.getElementById("hiddenMessage").style.display = block;
      } 
      function countDown(){
        let currentVal = document.getElementById("countDownButton").innerHTML;
        let newVal = 0;
        if (currentVal > 0){
          newVal = currentVal - 1;
        }
        document.getElementById("countDownButton").innerHTML = newVal;
      }
    </script>

  </body>
</html>